<?xml version="1.0"?>
<config>
  <modules>
    <Kraus_Test>
      <version>0.1.0</version>
    </Kraus_Test>
  </modules>
  <frontend>
  
    <routers>
      <test>
        <use>standard</use>
          <args>
            <module>Kraus_Test</module>
            <frontName>test</frontName>
          </args>
      </test>
    </routers>
		<layout>
		  <updates>
			<test>
			  <file>test.xml</file>
			</test>
		  </updates>
		</layout>
  </frontend>
   <global>
      <models>
         <test>
            <class>Kraus_Test_Model</class>
            <resourceModel>test_mysql4</resourceModel>	
           </test>
            <test_mysql4>
                <class>Kraus_Test_Model_Mysql4</class>
                <entities>
                    <test>
                        <table>regis_form</table>
                    </test>
                </entities>
            </test_mysql4>
        </models>
        <resources>
            <test_setup>
                <setup>
                    <module>Kraus_Test</module>
                </setup>
            </test_setup>
<test_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_read>
            
            <test_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_write>
        </resources>  
  
    <helpers>
      <test>
        <class>Kraus_Test_Helper</class>
      </test>
    </helpers>
	<blocks>
	  <test>
		<class>Kraus_Test_Block</class>
	  </test>
	</blocks>
  </global>
</config> 