<?xml version="1.0"?>
<config>
  <modules>
    <Kraus_Test>
      <version>0.1.0</version>
    </Kraus_Test>
  </modules>
  <frontend>
    <routers>
      <test>
        <use>standard</use>
          <args>
            <module>Kraus_Test</module>
            <frontName>test</frontName>
          </args>
      </test>
    </routers>
		<layout>
		  <updates>
			<test>
			  <file>test.xml</file>
			</test>
		  </updates>
		</layout>
  </frontend>
  <global>
  
  
  
  
  <models>
            <test>
				<class>kraus_test_Model</class>
				<resourceModel>test_mysql4</resourceModel>		
            </test>
            <test_mysql4>
                <class>kraus_test_Model_Mysql4</class>
                <entities>
                    <contacts>
                        <table>regis_form</table>
                    </contacts>
                </entities>                
            </test_mysql4>
        </models>
        <resources>
            <test_setup>
                <setup>
                    <module>kraus_test</module>
                </setup>
            </test_setup>
			<test_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_read>            
            
            <test_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_write>  
        </resources>
        <template>
            <email>
                <test_email_email_template translate="label" module="test">
                    <label>Registration Form</label>
                    <file>register_form.html</file>
                    <type>text</type>
                </test_email_email_template>
            </email>
        </template>
  
  
  
  
  
  
  
    <helpers>
      <test>
        <class>Kraus_Test_Helper</class>
      </test>
    </helpers>
	<blocks>
	  <test>
		<class>Kraus_Test_Block</class>
	  </test>
	</blocks>
  </global>
</config> 


